// COLORS
$primary-color: #D04F4F;

$blue: #3282F7;
$darkblue: #0062d1;

$green: #68D9A4;
$darkgreen: #3bbb71;

$red: #ED6454;
$darkred: #d34f4f;


$white: #FFFFFF;
$lightgrey: #E7E7E7;
$grey: #C7BEBE;
$black: #000000;

//FONT
$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;

$light: 300;
$regular: 400;
$bold: 700;